<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/Alegreya-Black.ttf</string>
		<string>Fonts/Alegreya-BlackItalic.ttf</string>
		<string>Fonts/Alegreya-Bold.ttf</string>
		<string>Fonts/Alegreya-BoldItalic.ttf</string>
		<string>Fonts/Alegreya-ExtraBold.ttf</string>
		<string>Fonts/Alegreya-ExtraBoldItalic.ttf</string>
		<string>Fonts/Alegreya-Italic.ttf</string>
		<string>Fonts/Alegreya-Medium.ttf</string>
		<string>Fonts/Alegreya-MediumItalic.ttf</string>
		<string>Fonts/Alegreya-Regular.ttf</string>
	</array>
</dict>
</plist>
